@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

.body-pd {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none;
    color: #fff !important;
}

.Collapsible-li:hover {
    color: #0078d7 !important;
    background-color: #fff !important;
    background-size: 220px 35px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #fff, #fff);
}

.nav_link:hover {
    color: #0078d7 !important;
    background-size: 220px 35px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #fff, #fff);
    background-color: #0078d7 !important;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #0078d7;
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    top: 90px;
    position: fixed;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: #0078d7;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.3rem 0 0.3rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 10px;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    .body-pd {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 0.7rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

.dropdown-toggle::after {
    margin-left: 0
}

.dropbtns {
    background-color: #4caf5000;
    color: white;
    padding: 5px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdowns {
    position: relative;
    display: inline-block;
}

.dropdowns-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdowns-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdowns-content a:hover {
    background-color: #f1f1f1;
}

#box:checked + label + .dropdowns-content {
    display: block;
}

.dropdowns:hover .dropbtns {
    background-color: #0078d7;
}

.sidebardrpdwn .Collapsible {
    width: 110% !important;
}

.sidebardrpdwn .Collapsible ul li {
    list-style: none;
}

.sidebardrpdwn .Collapsible ul {
    padding-left: 10px;
}

li.Collapsible-li a {
    padding: 8px 15px 8px 35px;
    margin-left: -40px;
    color: #fff !important;
}

li.Collapsible-li:hover a {
    color: #0078d7 !important;
}

li.Collapsible-li {
    padding: 5px 0;
}

.caretdrpdwn {
    position: absolute;
    z-index: 9;
    pointer-events: none;
    left: 142px;
    top: 0px;
}

span.Collapsible__trigger {
    display: inline-block;
    width: 100%;
    z-index: 99;
}

ul.Collapsible-ul {
    margin-top: 10px;
    margin-bottom: 0px !important;
}

.l-navbar>nav.nav {
    height: 486px;
    overflow-y: scroll;
}

.l-navbar .nav::-webkit-scrollbar {
    display: none;
}
.logoutbtn{
    color: #663399 !important;
}
.logoutbtn:hover{
    color: #000 !important;
}

.col-md-2{
    padding-right : 0px !important;
    
}

#reports{
    width : 14% !important
}