@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 64px;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

.Collapsible__trigger{
    padding-left: 3px !important;
}

*,
::before,
::after {
    box-sizing: border-box
}

.body-pd {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none;
    color: #fff !important;
}



/* .Collapsible-li:hover {
    color: #0078d7 !important;
    border-top: 1px solid #0078d7 !important;
    background-color: #fff !important;
    background-size: 220px 35px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #fff, #fff);
} */

/* .nav_link:hover {
    color: #0078d7 !important;
    background-size: 220px 35px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #fff, #fff);
    background-color: #0078d7 !important;
} */

.header {
    width: 100%;
    height: var(--header-height);
    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #FBF9F4;
    /* z-index: var(--z-fixed); */
    transition: .5s
}

.header_toggle {
    color: #000000;
    font-size: 1.5rem;
    cursor: pointer
}

.fas {
    --bs-text-opacity: #4FADE9 !important;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    top: 90px;
    position: fixed;
    left: -30%;
    width: var(--nav-width);
    height: auto !important;
    background-color: #FFFFFF;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_list{
    height: auto;
    box-sizing: border-box;

}
.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.3rem 0 0.3rem 1.5rem;
    text-decoration: none !important;
    color: #222222 !important;
    box-sizing: border-box;
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 7px;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    .body-pd {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        height: 0px !important;
        padding: 1rem 0.7rem 0 0;
        width: 230px
    }

     .show {
         /* height: calc(var(--nav-width) + 156px) !important; */
         height: auto !important;
         
         
    } 

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}

.dropdown-toggle::after {
    margin-left: 0
}

.dropbtns {
    background-color: #4caf5000;
    color: white;
    /* padding: 5px 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdowns {
    position: relative;
    display: inline-block;
}

.dropdowns-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #FBF9F4;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    left: 17px;
    top: 50px;
    width: 102px;
    height: 30px;
    background: inherit;
    background-color: #FBF9F4;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 38, 119, 1);
    border-radius: 24px;
    -moz-box-shadow: none;
    /* -webkit-box-shadow: none; */
    box-shadow: none;
}

.dropdowns-content a {
    color: rgba(0, 38, 119, 1) !important;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;

    text-align: center;
}

.dropdowns-content a:hover {
    /* border:1px solid #003399;
     border-radius:24px; 
     width: 102px;   
      height:30px; */
    background-color: #FBF9F4 !important;

    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 38, 119, 1);
    border-radius: 24px;
    -moz-box-shadow: none;
    /* -webkit-box-shadow: none; */
    box-shadow: none;
}

#box:checked + label + .dropdowns-content {
    display: block;
}

/* .dropdowns:hover .dropbtns {
    background-color: #0078d7;
} */

.sidebardrpdwn .Collapsible {
    width: 110% !important;
}

.sidebardrpdwn .Collapsible ul li {
    list-style: none;
}

.sidebardrpdwn .Collapsible ul {
    padding-left: 10px;
}

li.Collapsible-li a {
    padding: 8px 15px 8px 40px;
    margin-left: -40px;
    color: #222222 !important;
}

li.Collapsible-li > a {
    font-size: 14px;
}

.Collapsible__trigger {
    font-size: 14px;
}

span.nav_name {
    font-size: 14px;
}

/* li.Collapsible-li:hover a {
    color: #0078d7 !important;
} */

li.Collapsible-li {
    padding: 5px 0;
}

.caretdrpdwn {
    position: absolute;
    z-index: 9;
    pointer-events: none;
    left: 142px;
    top: 0px;
}

span.Collapsible__trigger {
    display: inline-block;
    width: 100%;
    z-index: 99;
}

ul.Collapsible-ul {
    margin-top: 10px;
    margin-bottom: 0px !important;
}

.l-navbar>nav.nav {
    /* height: auto; */
    overflow-y: scroll;
    box-sizing: border-box
}

.l-navbar .nav::-webkit-scrollbar {
    display: none;
}
.logoutbtn{
    color: #663399 !important;
}
.logoutbtn:hover{
    color: rgba(0, 38, 119, 1) !important;
}

.col-md-2{
    padding-right : 0px !important;
    
}

#reports{
    width : 14% !important
}


#u74 {
    position:fixed;
    right:192px;
    top:22px;
  }
  #u74_state0 {
    position:relative;
    left:0px;
    top:0px;
    width:99px;
    height:40px;
    background-image:none;
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u74_state0_content {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:1px;
    height:1px;
  }
  #u75 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u76_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:99px;
    height:40px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:4px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  #u76 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:99px;
    height:40px;
    display:flex;
  }
  #u76 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u76_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }
  #u77_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:16px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:0px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-family:"OptumSans-Bold", "Optum Sans Bold", "Optum Sans", sans-serif;
    font-weight:700;
    font-style:normal;
    color:#222222;
    text-align:left;
    line-height:16px;
  }
  #u77 {
    border-width:0px;
    position:absolute;
    left:28px;
    top:12px;
    width:63px;
    height:16px;
    display:flex;
    font-family:"OptumSans-Bold", "Optum Sans Bold", "Optum Sans", sans-serif;
    font-weight:700;
    font-style:normal;
    color:#222222;
    text-align:left;
    line-height:16px;
  }
  #u77 .text {
    position:absolute;
    align-self:flex-start;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u77_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
  }
  #u78 {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:0px;
    height:0px;
  }
  #u79_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:15px;
    height:15px;
  }
  #u79 {
    border-width:0px;
    position:absolute;
    left:8px;
    top:13px;
    width:15px;
    height:15px;
    display:flex;
  }
  #u79 .text {
    position:absolute;
    align-self:center;
    padding:0px 0px 0px 0px;
    box-sizing:border-box;
    width:100%;
  }
  #u79_text {
    border-width:0px;
    word-wrap:break-word;
    text-transform:none;
    visibility:hidden;
  }

  #Home{
    border-width: 4px;
    border-style: solid;
    border-color: rgba(255, 97, 43, 1);
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #FBF9F4;
}