.wrap-element {
    position: relative;
    overflow: hidden;
    padding-top: 47.25%;
    margin-left: 3.5%;
    /* margin-top: 0px; */
  }
  
  .wrapped-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 90%;
    border: 0;
  }