/* @import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/font-awesome/css/font-awesome.min.css"); */

.navbar {
    padding: 0px 15px 0px 0px !important;
    background-image: linear-gradient(90deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37)) !important;
}
.nav-title {
     /* padding: 10px 50px; */
    /*width: auto;
    text-align: center;
color: #fa600d !important;
    font-weight: 600;
    background-color: #fff; */



    border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  /*width:220px; */
  width:1400px;
  height:84px;
  /* height:17px; */
  /* display:flex; */
  font-family:"OptumSans-Bold", "Optum Sans Bold", "Optum Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  letter-spacing:0.46px;
  /*color:#002677 ;*/
  text-align:left;
  line-height:31px;

    

    
} 
a.navbar-brand.nav-title:hover {
    color: #fa600d !important;
}


#u76_div {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:99px;
    height:40px;
    background:inherit;
    background-color:rgba(255, 255, 255, 0);
    border:none;
    border-radius:4px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
  }
  a.navbar-brand.nav-title {
    width: 50%;
}