
div#project_allocation_modal {
    height: 910px !important;
}

.TableContentBorder{
    border: 1px solid rgba(47,79,79, 0.2);
    background-color:#fff;
    border-bottom: none;
    border-right: none;
  }

.resetButton{
    margin-left:20% !important;
  }